.grid {
  display: grid;
    grid-template-areas:    "h h h"
                            "n p g"
                            "f f f";
    grid-template-rows: 120px 1fr 250px;
    grid-template-columns: 2fr 8fr 8fr;
    margin: 0 auto;
    background-color: #00001E;
    /*grid-gap: 10px;*/
}


