.game {
display: flex;
    align-items: center;
}
.mypost textarea {
    background: #182a50;
    }
.field {
   border: none;
    color: #6d82bb;
    font-weight: bold;
    text-transform: uppercase;
    width: auto;
}
 .field button {
     background: white;
 }


